<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
            <div class="col-sm-8">
                <form (ngSubmit)= 'submitUsername()'class="form-inline md-form form-sm">
                    <input class="form-control form-control-sm mr-3 w-70 search" type="text" name="searchName" [(ngModel)]="searchName" placeholder="Search" aria-label="Search">
                    <button class="btn btn-info  btn-sm"> <i class="fa fa-search" aria-hidden="true"></i> Search</button>
                  </form>
                  <div>
            </div>
        </div>
    </div>
</div>